{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up - SmartTripPlanner</title>
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
  <div class="background">
    <div class="container">
      <div class="signup-form">
        <h2>Create Your Account</h2>
        <form>
          
          <label for="email">Email</label>
          <input type="email" id="mailid" placeholder="Enter your email" required>
          
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Enter your password" required>
          <!--<button class="btn btn-success" type="submit">Register</button>-->
          <button type="submit" class="btn"><a href="{% url 'home' %}">Register</a></button>
        </form>
        <p>Already a User? <a href="{% url 'login' %}">Login</a></p>
      </div>
      <div class="info-box">
        <h3>Why Register?</h3>
        <p>Get personalized trip plans tailored to your preferences.</p>
        <p>Access real-time safety alerts for your destinations.</p>
        <p>Receive recommendations for sustainable tourism experiences.</p>
        <p>Utilize our virtual assistant for behavior prediction and sentiment analysis.</p>
      </div>
    </div>
  </div>
</body>
</html>
